<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport">
    <title>Test</title>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/nav'); %>
    </header>

    <!-- CSS Grid -->
    <div class="grid">
        <div class="grid-item character-info">My Character </div>
        <div class="grid-item inventory">Inventory</div>
        <div class="grid-item place-info">Town</div>
        <div class="grid-item quest-list">Quest list</div>
        <div class="grid-item logs">Logs</div>
    </div>

    <%- include('../partials/footer'); %>
</body>

</html>